<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
 <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.8/default/snipcart.css" />
<div hidden id="snipcart" data-api-key="Mjk5NDQ5NzktMjRiOC00MTRjLTk5MGYtZjdkMWUwZThkNTU2NjM3MTg1Njk1MDE3OTMyODMy">
</div>

     <script src="https://cdn.snipcart.com/themes/v3.0.8/default/snipcart.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
     <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Oswald&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://unpkg.com/claymorphism-css/dist/clay.css"/>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    
     {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

</head>
