<h1>Information</h1>
<div class="card-wrapper">

	{% for post in postslist | reverse %}

		<div style="text-align:center" class="clay" {% if post.url == url %} data-current="current item"{% endif %}>
			<a style="text-decoration: none" href="{{ post.url | url }}">
			<h3 style="padding: 2rem; color: white;">
				
					{% if post.data.title %}
						{{ post.data.title }}
						{{ featuredImage }}
					{% else %}
						Untitled
					{% endif %}
			</h3>	
			</a>	
		</div>
		
	{% endfor %}
</div>
