<div class="card-wrapper">

	{% for post in postslist | reverse %}

		<div class="card" {% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>		
		</div>
		
	{% endfor %}
</div>
