<h2>Services</h2>
<div class="">
	{% for service in servicelist | reverse %}

		<div style="text-align:center;"
		 class="clay" {% if service.url == url %} data-current="current item"{% endif %}>
			<a style="text-decoration: none;" href="{{ service.url | url }}">
				<h2 style="padding: 2rem; color: white;">{{ service.data.title }} - {{ service.data.summary }}</h2>	
			</a>
		</div>
		
	{% endfor %}
</div>
