<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
     <div>
		<header>
			<h1 style="margin: 0 1rem; display:flex; justify-content: center; align-items: center; flex-direction: column;">
				<a class= "gradient-text" href="{{ '/' | url }}">Porto Relocation Services</a>
			</h1>
			{% include "components/nav.njk" %}
		</header>
				<div>
						<main>
						
							{{ layoutContent | safe }}
						</main>
				</div>
		{% include "components/footer.njk" %}
		
	</div> 
	</body>

</html>
