---
layout: layouts/base.njk
section: home
---

<div style="color:black">
<div class="hero-image">
<div class="hero-text">
    <h2 style="font-family: 'Open Sans Condensed', sans-serif; font-size:1.75rem">Relocation and Tourist Services in the City of Porto and beyond</h2>  
  </div>
</div>
<div class="content">
  <p>If you are planning a trip, moving to a new place or just need some practical information on your new location, the amount of options can be daunting. It is true that too much choice can be a bad thing. Everyone seems to have the answer but who do you trust and who can really understand your needs.</p>
  <p>That&#39;s why our service is based on a personal relationship, one where we separate the good from the mediocre, while you can sit back, relax and concentrate on the important things.
  </p>
  <p>And that&#39;s why we offer customized advice for tourists, retirees, new arrivals, long term residents, students, workers, whoever you are, we can help you quickly accomplish your goals and make your life run a little smoother.</p>
  <p>And that&#39;s no bad thing.</p>
</div>

<div class="banner">
  <div class="background tram-pic"></div>
  <div class="foreground">
    <h2 style="font-family: 'Open Sans Condensed', sans-serif ; color:white; font-size:1.75rem">Already here?</h2>
  </div>
</div>
<div class="content">
  <p>Are you already living in Porto but still need help with everyday things?
    Maybe you have a lack of time; the language is still a barrier; you have no reliable contacts; or a limited budget.</p>
  <p>We can help with:
  </p>
  <ul id="ul1" role="list">
    <li>✅ house-sitting</li>
    <li>✅ gardening</li>
    <li>✅ cleaning</li>
    <li>✅ shopping</li>
    <li>✅ decoration</li>
    <li>✅ pet care</li>
    <li>✅ odd jobs</li>
    <li>✅ or just some general advice</li>
  </ul>
  <p>
    You tell us what you need and we will offer you a solution.
  </p>
</div>

<div class="banner">
  <div class="background tiles-pic"></div>
  <div class="foreground">
    <h2 style="font-family: 'Open Sans Condensed', sans-serif; color:white; font-size:1.75rem">Relocating?</h2>
  </div>
</div>
<div class="content">
  <p>Are you planning to relocate to Porto; to work, retire, study, or just to experience a new culture?</p>
  <p>We can offer you a comprehensive guide to settling in to your new environment, and a reliable contact on the ground.
  </p>
  <p>Including:</p>
  <ul id="ul2" role="list">
    <li>✅ where to live</li>
    <li>✅ cost of living/salaries/job opportunities</li>
    <li>✅ bureaucracy: utilities, taxes, residency, etc</li>
    <li>✅ reliable contacts: services, doctors, builders, lawyers etc</li>
    <li>✅ translations</li>
    <li>✅ interests, hobbies, social life, sports</li>
    <li>✅ language and culture</li>
  </ul>
  <p>
    And anything else that interests you …
  </p>
  <p>
    <a href="/contact">Contact us</a> for more information.
  </p>
</div>

<div class="banner">
  <div class="background tile-mix"></div>
  <div class="foreground">
    <h2 style="font-family: 'Open Sans Condensed', sans-serif; color:white; font-size:1.75rem">Planning a visit?</h2>
  </div>
</div>
<div class="content">
  <p>If you are planning a visit to Porto and would like a customized travel guide with all the local knowledge and, if required, a contact to meet on arrival, then this service could be for you.</p>
  <p>This way you can concentrate on getting the most from your trip while eliminating much of the stress and confusion of visiting a new place.
  </p>
  <p>You tell us what interests you, how much time you have, your budget, and any special requirements and we will provide you with everything you need to know.</p>
  <p>We can provide information on:</p>
  <ul id="ul3" role="list">
    <li>✅ special areas of interest</li>
    <li>✅ guided tours</li>
    <li>✅ language lessons, surfing, golf, etc.</li>
    <li>✅ Portuguese culture, food and wine</li>
  </ul>
  <p>and much more…</p>
  <p><a href="/contact">Contact us</a> and let us know what you need</p>
</div>
<svg width="300" height="224.693" viewBox="0 0 79.375 59.45" version="1.1" id="svg8">
  <g id="layer1" transform="translate(37.16 -188.547)">
    <g id="wheel2" transform="translate(-1.96 141.93) scale(.24724)" fill-rule="evenodd">
      <circle id="circle988" cx="67.535" cy="413.257" r="15.744" opacity=".537" fill="#333" stroke-width=".275" />
      <circle id="circle990" cx="67.535" cy="413.257" r="13.535" opacity=".537" fill="#999" stroke-width=".236" />
      <circle id="circle992" cx="67.535" cy="413.257" r="11.574" opacity=".537" fill="#333" stroke-width=".202" />
      <circle id="circle994" cx="67.535" cy="413.257" r="5.206" opacity=".537" fill="gray" stroke-width=".091" />
    </g>
    <g id="wheel1" transform="translate(-27.938 141.93) scale(.24724)" fill-rule="evenodd">
      <circle id="path974" cx="67.535" cy="413.257" r="15.744" opacity=".537" fill="#333" stroke-width=".275" />
      <circle id="circle976" cx="67.535" cy="413.257" r="13.535" opacity=".537" fill="#999" stroke-width=".236" />
      <circle id="circle978" cx="67.535" cy="413.257" r="11.574" opacity=".537" fill="#333" stroke-width=".202" />
      <circle id="circle980" cx="67.535" cy="413.257" r="5.206" opacity=".537" fill="gray" stroke-width=".091" />
    </g>
    <path id="path1117" d="M-36.057 217.891v10.457l-.993-.048v11.63l.993-.082v.027h76.08v-21.984z" fill="#f9f9f9" stroke="none" stroke-width=".065" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" />
    <path d="M-37.065 238.753h3.664c.255-.715.67-1.22 1.366-1.366v-6.575c-.66-.247-1.25-.542-1.242-1.241h-3.883" id="path1127" fill="#deaa87" stroke="#a05a2c" stroke-width=".523" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1" />
    <g id="g1154" transform="translate(-27.973 141.93) scale(.24724)" stroke="none" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1">
      <path d="M-32.726 349.495h14.16v-31.254c-7.263-3.203-9.875-2.023-14.203-2.391" id="path1129" fill="#7a4025" fill-opacity="1" stroke-width=".265" />
      <path d="M-32.575 346.256h10.986V321.02c-5.635-2.586-7.662-1.634-11.02-1.931" id="path1131" fill="#87aade" stroke-width=".209" />
    </g>
    <path id="rect927" opacity="1" vector-effect="none" fill="#f1af20" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".068" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-22.535 229.894h48.936v9.975h-48.936z" />
    <path d="M-19.483 231.118h42.598c.102.666.372 1.227 1.145 1.474v4.456c-.625.398-.899.987-1.133 1.597h-42.398c-.24-.57-.484-1.136-1.14-1.311v-4.81c.512-.251.935-.598.928-1.406z" id="path1139" fill="#f1af20" fill-opacity="1" stroke="#a05a2c" stroke-width=".578" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1" />
    <path id="rect1141" vector-effect="none" fill="#ececec" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".265" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-41.884 367.168h5.116v14.792h-5.116z" />
    <path id="rect929" vector-effect="none" fill="#f1af20" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".067" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-37.15 228.278h6.27v11.628h-6.27z" />
    <path d="M-37.047 238.589h3.665c.254-.715.67-1.22 1.366-1.365v-6.575c-.661-.247-1.25-.543-1.242-1.242h-3.883" id="path1143" fill="#f1af20" fill-opacity="1" stroke="#a05a2c" stroke-width=".523" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1" />
    <path d="M-15.804 239.888c-.204.831-.818 1.56-1.719 2.216h-19.323v-2.295" id="path1179" fill="#7a4025" fill-opacity="1" stroke="none" stroke-width=".065" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" />
    <path d="M19.454 239.888c.209.831.834 1.56 1.75 2.215h19.68v-2.294" id="path1181" fill="#7a4025" fill-opacity="1" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" />
    <g id="g939" transform="matrix(-.24724 0 0 .24724 31.801 141.93)" fill="#000" fill-opacity="0" stroke="none" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1">
      <path d="M-32.726 349.495h14.16v-31.254c-7.263-3.203-9.875-2.023-14.203-2.391" id="path935" stroke-width=".265" />
      <path d="M-33.022 346.256h11.433V321.02c-5.865-2.586-7.974-1.634-11.468-1.931" id="path937" stroke-width=".214" />
    </g>
    <path id="rect955" transform="scale(-1)" vector-effect="none" fill="#e6e6e6" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-42.215-235.713h1.265v3.657h-1.265z" />
    <path id="rect957" transform="scale(-1)" vector-effect="none" fill="#f1af20" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".067" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-41.015-239.904h6.283v11.628h-6.283z" />
    <path d="M40.93 229.43h-3.665c-.254.715-.67 1.22-1.365 1.365v6.575c.66.247 1.249.543 1.242 1.242h3.882" id="path961" fill="#f1af20" fill-opacity="1" stroke="#a05a2c" stroke-width=".523" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1" />
    <path id="rect933" d="M-18.348 220.872c2.572-1.098 5.046-1.063 7.43 0v9.028h-7.43z" vector-effect="none" fill="#7a4025" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect938" d="M-17.565 221.117c2.028-.457 4.035-.58 5.997 0v2.666h-5.997z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect936" d="M-17.544 224.727h5.823v4.664h-5.823z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path923" d="M-31.009 228.268h8.54v11.507h-8.54z" vector-effect="none" fill="#f1af20" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".049" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect979" d="M-31 219.644h8.523v20.24H-31z" vector-effect="none" fill="none" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect981" d="M-29.155 220.979h.841c.378 0 .683.304.683.683v5.368a.681.681 0 01-.683.683h-.841a.681.681 0 01-.683-.683v-5.368c0-.379.305-.683.683-.683z" vector-effect="none" fill="#87aade" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect1010" d="M-27.07 219.648h.656v20.203h-.655z" vector-effect="none" fill="#7a4025" fill-opacity="1" fill-rule="evenodd" stroke="#7a4025" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect985" d="M-25.041 229.282h.563c.453 0 .819.366.819.82v6.436c0 .454-.366.82-.819.82h-.563a.817.817 0 01-.819-.82v-6.436c0-.454.365-.82.819-.82z" vector-effect="none" fill="#87aade" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".072" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect987" d="M-29.019 229.282h.569c.452 0 .816.365.816.817v6.416a.814.814 0 01-.816.816h-.569a.814.814 0 01-.816-.816v-6.416c0-.452.364-.817.816-.817z" vector-effect="none" fill="#87aade" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".072" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect989" d="M-25.113 220.979h.841c.378 0 .683.304.683.683v5.368a.681.681 0 01-.683.683h-.841a.681.681 0 01-.683-.683v-5.368c0-.379.305-.683.683-.683z" vector-effect="none" fill="#87aade" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1006" d="M-30.61 219.984h7.769v19.553h-7.77z" vector-effect="none" fill="none" fill-opacity="1" fill-rule="evenodd" stroke="#7a4025" stroke-width=".667" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1018" d="M26.314 228.378h8.54v11.488h-8.54z" vector-effect="none" fill="#f1af20" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".049" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1020" d="M26.322 219.775h8.524v20.192h-8.524z" vector-effect="none" fill="none" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".065" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1022" d="M28.168 221.106h.841a.68.68 0 01.683.682v5.355a.68.68 0 01-.683.682h-.841a.68.68 0 01-.683-.682v-5.355a.68.68 0 01.683-.682z" vector-effect="none" fill="#87aade" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".065" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1024" d="M30.254 219.779h.654v20.156h-.654z" vector-effect="none" fill="#7a4025" fill-opacity="1" fill-rule="evenodd" stroke="#7a4025" stroke-width=".065" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1026" d="M32.281 229.39h.564c.453 0 .818.365.818.818v6.421a.816.816 0 01-.818.818h-.564a.816.816 0 01-.818-.818v-6.42c0-.454.365-.818.818-.818z" vector-effect="none" fill="#87aade" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".072" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1028" d="M28.304 229.39h.569c.452 0 .816.364.816.815v6.4a.814.814 0 01-.816.816h-.57a.814.814 0 01-.815-.815v-6.4c0-.452.364-.815.816-.815z" vector-effect="none" fill="#87aade" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".071" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1030" d="M32.21 221.106h.84a.68.68 0 01.684.682v5.355a.68.68 0 01-.683.682h-.841a.68.68 0 01-.683-.682v-5.355a.68.68 0 01.683-.682z" vector-effect="none" fill="#87aade" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".065" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1032" d="M26.713 220.114h7.768v19.507h-7.768z" vector-effect="none" fill="none" fill-opacity="1" fill-rule="evenodd" stroke="#7a4025" stroke-width=".666" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1057" d="M14.995 220.872c2.573-1.098 5.047-1.063 7.431 0v9.028h-7.43z" vector-effect="none" fill="#7a4025" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1059" d="M15.779 221.117c2.028-.457 4.034-.58 5.997 0v2.666h-5.997z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1061" d="M15.799 224.727h5.824v4.664h-5.824z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1065" d="M6.66 220.872c2.572-1.098 5.046-1.063 7.43 0v9.028H6.66z" vector-effect="none" fill="#7a4025" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1068" d="M7.443 221.117c2.028-.457 4.034-.58 5.997 0v2.666H7.443z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1070" d="M7.463 224.727h5.824v4.664H7.463z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1074" d="M-1.676 220.872c2.572-1.098 5.046-1.063 7.43 0v9.028h-7.43z" vector-effect="none" fill="#7a4025" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1076" d="M-.893 221.117c2.028-.457 4.035-.58 5.997 0v2.666H-.893z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1078" d="M-.873 224.727h5.824v4.664H-.873z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1082" d="M-10.012 220.872c2.572-1.098 5.046-1.063 7.43 0v9.028h-7.43z" vector-effect="none" fill="#7a4025" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1084" d="M-9.229 221.117c2.028-.457 4.035-.58 5.997 0v2.666h-5.997z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="path1086" d="M-9.209 224.727h5.824v4.664h-5.824z" vector-effect="none" fill="#80c9d3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect1111" opacity="1" vector-effect="none" fill="#b3b3b3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".055" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-15.915 239.791h35.474v.744h-35.474z" />
    <path id="rect1113" opacity="1" vector-effect="none" fill="#ccc" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-35.244 242.056h74.167v.8h-74.167z" />
    <path id="rect1115" opacity="1" vector-effect="none" fill="#ccc" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-17.275 244.488h37.763v1.001h-37.763z" />
    <path id="rect1120" d="M-2.653 240.479H6.17l-1.136 6.286-6.562-.04z" opacity="1" vector-effect="none" fill="gray" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect1131" vector-effect="none" fill="#4d4d4d" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".08" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M7.113 208.725h2.091v3.949H7.113z" />
    <path id="path913" d="M35.804 211.149c-1.403.307-2.234.973-2.956 1.707v1.069c-20.782-1.08-40.837-.777-61.085-.078l.015-1.109c-.552-.71-1.293-1.35-3.317-1.502l-.031 2.97c-2.97.73-5.24 2.46-4.914 3.7l77.152-.028c-1.107-1.89-.89-1.874-4.47-3.768l-.394-.023z" fill="#999" stroke="none" stroke-width=".065" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" />
    <path d="M-12.084 213.433l-.025-2.641 19.426.097.014 2.634" id="path915" fill="#999" stroke="none" stroke-width=".065" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" />
    <circle id="path1047" cx="230.815" cy="189.738" r="2.868" fill="#fff" fill-rule="evenodd" stroke-width=".265" />
    <circle id="circle1049" cx="29.094" cy="188.841" r=".295" fill="#1a1a1a" fill-rule="evenodd" stroke-width=".065" />
    <path d="M28.75 189.249l-20.393 20.33" id="path1051" fill="none" stroke="#000" stroke-width=".539" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1" />
    <path id="rect1057" d="M.676 208.758v.679h-.732v.93h.732v.607h.74v-.606h.653v.606h.74v-.606h.622v.606h.74v-.606h.664v.606h.74v-.606h.617v.606h.74v-.606h.013v-.931h-.013v-.679h-.74v.679h-.617v-.679h-.74v.679h-.664v-.679h-.74v.679H2.81v-.679h-.74v.679h-.653v-.679z" vector-effect="none" fill="#999" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".068" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" />
    <path id="rect1069" transform="rotate(45)" vector-effect="none" fill="gray" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".053" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M154.918 143.376h1.044v1.086h-1.044z" />
    <path id="rect1071" transform="rotate(45)" vector-effect="none" fill="gray" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".053" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M153.577 142.005h1.044v1.086h-1.044z" />
    <path id="rect1089" vector-effect="none" fill="#b3b3b3" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M14.632 211.672h6.455v.868h-6.455z" />
    <path id="rect1091" vector-effect="none" fill="gray" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-10.451 213.348h.677v3.848h-.677z" />
    <path id="rect1093" vector-effect="none" fill="gray" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M1.965 213.231h.676v3.965h-.676z" />
    <path id="rect1095" vector-effect="none" fill="gray" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M14.313 213.348h.677v3.848h-.677z" />
    <path id="rect1097" vector-effect="none" fill="gray" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M-22.932 213.348h.677v3.848h-.677z" />
    <path id="rect1099" vector-effect="none" fill="none" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M24.62 209.695h.677v3.848h-.677z" />
    <path id="rect1127" vector-effect="none" fill="gray" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".066" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M26.573 213.348h.677v3.848h-.677z" />
    <path id="rect1129" vector-effect="none" fill="#4d4d4d" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".094" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1" d="M7.334 212.661h13.739v.839H7.334z" />
    <g id="g1142" transform="translate(-27.973 141.93) scale(.24724)" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".265" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1">
      <path id="rect1133" opacity="1" vector-effect="none" fill="#ccc" d="M-12.295 407.89h2.68v6.277h-2.68z" />
      <path id="rect1135" opacity="1" vector-effect="none" fill="#ccc" d="M19.763 407.89h2.68v6.277h-2.68z" />
      <path id="rect1137" opacity="1" vector-effect="none" fill="#f2f2f2" d="M-15.106 413.786h40.364v2.77h-40.364z" />
    </g>
    <g id="g1150" transform="translate(29.354 141.719) scale(.24724)" fill-opacity="1" fill-rule="evenodd" stroke="none" stroke-width=".265" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" stroke-dasharray="none" stroke-dashoffset="0" stroke-opacity="1">
      <path id="rect1144" opacity="1" vector-effect="none" fill="#ccc" d="M-12.295 407.89h2.68v6.277h-2.68z" />
      <path id="rect1146" opacity="1" vector-effect="none" fill="#ccc" d="M19.763 407.89h2.68v6.277h-2.68z" />
      <path id="rect1148" opacity="1" vector-effect="none" fill="#f2f2f2" d="M-15.106 413.786h40.364v2.77h-40.364z" />
    </g>
    <g id="g1160" transform="matrix(-.24724 0 0 .24724 31.867 141.93)" stroke="none" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1">
      <path d="M-32.726 349.495h14.16v-31.254c-7.263-3.203-9.875-2.023-14.203-2.391" id="path1156" fill="#7a4025" fill-opacity="1" stroke-width=".265" />
      <path d="M-32.575 346.256h10.986V321.02c-5.635-2.586-7.662-1.634-11.02-1.931" id="path1158" fill="#87aade" stroke-width=".209" />
    </g>
  </g>
</svg>
{{ layoutContent | safe }}
</div>

<style>

* {
  position: relative;
}
.banner {
  height: 40vh;
  overflow: hidden;
  max-width: 60em;
  margin: 0 auto;
}
.background {
  filter: brightness(1);
  min-width: 400px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
}
.tram-pic {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("https://res.cloudinary.com/djd5xu1es/image/upload/c_scale,w_1200/v1607516207/eugene-zhyvchik-Xz_oL7OnCF4-unsplash_zelnao.jpg");
}

.tiles-pic {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/djd5xu1es/image/upload/v1607618470/azulejos_t3nq7n.jpg');
}
.tile-mix{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('https://res.cloudinary.com/djd5xu1es/image/upload/v1653850493/portuguese-pattern-vector-pack_udz7ps.jpg')
}
.foreground {
  position: absolute;
  padding: 25px;
}
.content {
  {# padding: 50px; #}
  line-height: 1.6em;
  font-size: 1.3em;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/djd5xu1es/image/upload/v1653850493/portuguese-pattern-vector-pack_udz7ps.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

</style>

<script>
  gsap.to("svg", {
  duration: 10,
  x: "50vw",
  ease: "linear",
  yoyo:true,
  repeat: -1
});
</script>
