---
layout: layouts/base.njk
section: post
---

<article>
  <h1>{{ title }}</h1>


  {{ layoutContent | safe }}

  <button class="snipcart-add-item button" 
          data-item-id="11ty-{{page.fileSlug}}"
          data-item-name="{{ title }}" 
          data-item-price="{{ price }}"
          data-item-url="{{ service.url }}"
    data-item-image=""
          data-item-description="{{ service.data.body }}">
          Add to cart
  </button>

</article>

<nav>
  <a href="{{ '/services/' | url }}">← Back to service list</a>
</nav>
