---
layout: layouts/base.njk
section: post
---
<article style="min-height: 53vh; line-height: 1.6em; font-size: 1.3em;">
  <h1>{{ title }}</h1>
  <p>
   {{ layoutContent | safe }}
  </p>
 
  <button class="snipcart-add-item button clay" 
          data-item-id="11ty-{{page.fileSlug}}"
          data-item-name="{{ title }}" 
          data-item-price="{{ price }}"
          data-item-url="{{ service.url }}"
    data-item-image=""
          data-item-description="{{ service.data.body }}">
          Add to cart
  </button>
</article>
<nav>
  <a href="{{ '/services/' | url }}">← Back to service list</a>
</nav>
